<% include partials/header.ejs%>
    <div class="animated slideInDown  home">
        <h1> Welcome to yelpCamp</h1>
        <p>View all our camping ground </p>
        <p> <a href="campgrounds" class="btn btn-warning">Get started <i class="fa fa-home"></i></a></p>
    </div>
    <ul class="background">
        <li></li>
        <li></li>
        <li></li>
    </ul>

<% include partials/footer.ejs%>